<h1>Tags</h1>
<ul class="pa0">
  {{ range .GetTerms "tags" }}
   <li class="list di">
     <a href="{{ .RelPermalink }}" class="link f5 grow no-underline br-pill ba ph3 pv2 mb2 dib black sans-serif">
       {{- .LinkTitle -}}
     </a>
   </li>
  {{ end }}
</ul>
<h2>Areas</h2>
{{ range .GetTerms "areas" }}
 <li class="list di">
   <a href="{{ .RelPermalink }}" class="link f5 grow no-underline br-pill ba ph3 pv2 mb2 dib black sans-serif">
     {{- .LinkTitle -}}
   </a>
 </li>
{{ end }}
<h2>Datasets</h2>
{{ range .GetTerms "datasets" }}
 <li class="list di">
   <a href="{{ .RelPermalink }}" class="link f5 grow no-underline br-pill ba ph3 pv2 mb2 dib black sans-serif">
     {{- .LinkTitle -}}
   </a>
 </li>
{{ end }}
