<ul class="pa0">
  {{ range .GetTerms "tags" }}
   <li class="list di">
     <a href="{{ .RelPermalink }}" class="link f5 grow no-underline br-pill ba ph3 pv2 mb2 dib black sans-serif">
       {{- .LinkTitle -}}
     </a>
   </li>
  {{ end }}
  {{ range .GetTerms "areas" }}
  <li class="list di">
    <a href="{{ .RelPermalink }}" class="link f5 grow no-underline br-pill ba ph3 pv2 mb2 dib black sans-serif">
      {{- .LinkTitle -}}
    </a>
  </li>
  {{ end }}
  {{ range .GetTerms "datasets" }}
  <li class="list di">
    <a href="{{ .RelPermalink }}" class="link f5 grow no-underline br-pill ba ph3 pv2 mb2 dib black sans-serif">
      Dataset: {{ .LinkTitle -}}
    </a>
  </li>
  {{ end }}
</ul>
